@import url(https://marksheet.io/css/reset.css);

:root {
  --blue: #00aedb;
  --green: #b5da06;
  --dark-green: #8cc63f;
  --purple: #5261ac;
  --orange: #f78f1d;
  --red: #ff0000;
  --gray: #898989;
  --pink: #ec098d;
}

body {
  background: #ebebeb;
  font-family: "HelveticaLTStd-Light";
}

header {
  margin: 0 auto;
  padding: 0 2rem;
  padding-bottom: 0;
  max-width: 900px;
  background: #ffffff;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

footer {
  margin: 0 auto;
  padding: 2rem;
  max-width: 900px;
  text-align: center;
}

/* --- header-label --- */

.header-label {
  display: flex;
  align-items: flex-end;
  min-width: 10rem;
  margin: 1rem 0 1rem;
  padding: 0;

  font-family: "HelveticaLTStd-Bold";
  font-size: 2rem;
}

.header-label span:nth-child(-n + 3) {
  display: inline-block;
  padding: 0.5rem 0 0.1rem 0;
  height: 3rem;
}

.header-label span:nth-child(n + 4) {
  display: inline-block;
  padding: 0 0 0.1rem 0;
  height: 2.5rem;
}
.header-label span:nth-child(even) {
  background: var(--green);
}

.header-label span:nth-child(odd) {
  background: var(--blue);
}

/* --- header-search --- */

.header-search {
  margin: 1rem 0 1rem;
  background: var(--green);
  display: flex;
  flex-wrap: wrap;
}

.header-search > input {
  flex: 30%;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 0.1rem;
}

.header-search > button {
  flex: 30%;
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "HelveticaLTStd-Bold";
  font-size: 1rem;
  text-transform: uppercase;
}

/* --- header-social-media --- */

.header-social-media {
  margin: 1rem 0 1rem;
  display: flex;
}

@media (max-width: 700px) {
  .header-social-media {
    width: 100%;
    justify-content: space-between;
  }
}

.header-social-media > img {
  margin: 3px;
  width: 36px;
}

/* --- header-menu --- */
header > nav {
  width: 100%;
}
.header-menu {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  font-family: "HelveticaLT-Condensed-Bold";
  font-size: 0.875rem;
  text-transform: uppercase;
}

.header-menu > li {
  padding: 0.25rem 0.5rem;
  text-align: center;
}
.header-menu > li:last-of-type {
  text-align: start;
}
.header-menu-home {
  flex: 1;
  background-color: var(--blue);
  min-width: 3.5rem;
}

.header-menu-cinema {
  flex: 1;
  background-color: var(--dark-green);
  min-width: 4rem;
}

.header-menu-magazine {
  flex: 1;
  background-color: var(--purple);
  min-width: 5rem;
}

.header-menu-cssauthor {
  flex: 1;
  background-color: var(--blue);
  min-width: 7.5rem;
}

.header-menu-topmenu {
  flex: 1;
  background-color: var(--orange);
  min-width: 4.5rem;
}

.header-menu-archives {
  flex: 1;
  background-color: var(--red);
  min-width: 5rem;
}

.header-menu-contactus {
  background-color: var(--gray);
  flex: 27.5%;
  text-align: start;
  padding-left: 1rem;
}

/* --- main --- */

main {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 900px;
  background: #ffffff;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  main {
    flex-direction: column;
  }
}

article {
  width: 100%;
  padding: 11px;
}

@media (min-width: 700px) {
  article {
    padding-left: 5px;
    width: 62%;
  }
}

aside {
  width: 100%;
  padding: 11px;
}

@media (min-width: 700px) {
  aside {
    padding-right: 0;
    width: 38%;
  }
}

/* --- article --- */

.article-item h2 {
  font-family: "HelveticaLTStd-Bold";
  font-size: 6vw;
  margin: 1rem 0 1rem 4rem;
}

@media (min-width: 700px) {
  .article-item h2 {
    font-size: 2rem;
    text-align: start;
  }
}

.article-date {
  position: absolute;
  font-family: "HelveticaLTStd-Bold";
  text-transform: uppercase;
}

.arcticle-date-number {
  padding: 0.2rem 0.5rem;
  background: var(--orange);
  font-size: 1.6rem;
  color: #ffffff;
}

.arcticle-date-month {
  background: var(--blue);
  color: #ffffff;
  padding: 0.1rem 0.5rem;
}

@media (min-width: 970px) {
  /* to move date right */
  .article-item h2 {
    margin: 1rem 0 1rem 0rem;
  }

  .article-date {
    margin-left: -4rem;
  }
}

.article-item > p {
  text-align: justify;
  font-size: 13px;
}

.article-image-block {
  margin: 1rem 0 1rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 0.05rem solid var(--gray);
}

@media (min-width: 600px) {
  .article-image-block {
    justify-content: space-between;
  }
}

/* --- image block --- */

.image-block-main {
  margin: 0.2rem 0 0.3rem 0;
  width: 100%;
  height: 20rem;
}

.image-block-small {
  min-width: 7rem;
  height: 7rem;
  background: var(--orange);
  border: 0.05rem solid var(--gray);

  display: none;
}

@media (min-width: 600px) {
  .image-block-small {
    display: block;
    margin: 0.2rem 0;
  }
}

.article-image-block > img:nth-child(n) {
  object-fit: cover;
}

.article-image-block > img:first-child {
  width: 100%;
  height: 100%;
}

/* --- related articles ---*/

.related-articles > h3 {
  margin: 2rem 0 1rem 0;
  padding: 0.5rem 0;
  min-width: 12rem;
  width: 45%;

  background: linear-gradient(-135deg, transparent 30px, var(--purple) 0);

  font-family: "HelveticaLTStd-Bold";
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #ffffff;
}

.related-articles > h3:before {
  position: absolute;
  padding: 0.5rem 0;
  margin-left: -37px;
  margin-top: -0.5rem;
  width: 37px;

  content: "\00A0";
  background: var(--purple);
}

.related-articles-items-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  font-size: 11px;
}

.related-articles-item {
  margin: 0.25rem 0;
  width: 50%;
}

.related-articles-item > h4::before {
  padding: 0.5rem 0.2rem;
  content: "\25BA";
  color: var(--purple);
}

/* --- write-comment --- */

.write-comment {
  display: flex;
  flex-direction: column;
}

.write-comment > h3 {
  margin: 2rem 0 1rem 0;
  padding: 0.5rem 0;
  min-width: 11rem;
  width: 38%;

  background: linear-gradient(-135deg, transparent 30px, var(--purple) 0);

  font-family: "HelveticaLTStd-Bold";
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #ffffff;
}

.write-comment > h3:before {
  position: absolute;
  padding: 0.5rem 0;
  margin-left: -37px;
  margin-top: -0.5rem;
  width: 37px;

  content: "\00A0";
  background: var(--purple);
}

.write-comment-items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.write-comment-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1rem 1rem 1rem 0;
}

@media (min-width: 460px) {
  .write-comment-item {
    margin-left: -2rem;
  }
}

.write-comment-item > label {
  flex: 20%;
  text-align: start;
  white-space: nowrap;
}

@media (min-width: 460px) {
  .write-comment-item > label {
    text-align: end;
  }
}

.write-comment-item > input,
.write-comment-item > textarea {
  min-width: 70%;
  min-height: 1.5rem;
  margin: 0 0 0 1rem;
  border-radius: 5px;
  border: 0.05rem solid var(--gray);

  resize: none;
}

.comment-comment-input {
  height: 6rem;
}

.write-comment > form {
  display: flex;
  flex-direction: column;
}

.write-comment > form > input {
  align-self: flex-end;
  margin: 0 1rem 0 0;

  background-color: var(--orange);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "HelveticaLTStd-Roman";
  font-size: 0.7rem;
}

/* --- comments --- */

.comments > h3 {
  margin: 1rem 0;
  padding: 0.5rem 0;
  min-width: 11rem;
  width: 38%;

  background: linear-gradient(-135deg, transparent 30px, var(--purple) 0);

  font-family: "HelveticaLTStd-Bold";
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #ffffff;
}

.comments > h3:before {
  position: absolute;
  padding: 0.5rem 0;
  margin-left: -37px;
  margin-top: -0.5rem;
  width: 37px;

  content: "\00A0";
  background: var(--purple);
}

.comment-items-container {
  display: flex;
  flex-direction: column;

  margin: 2rem 0;
}

.comment-item {
  display: flex;
  flex-direction: row;

  margin: 1rem 0;
}

.comment-item > * {
  margin: 0 0.5rem;
}

.comment-item > img {
  width: 70px;
  height: 70px;
}

.comment-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comment-body > h4 {
  color: var(--purple);
  font-family: "HelveticaLTStd-Bold";
}

.comment-body > time {
  font-size: 11px;
  margin-right: 1rem;
}

.comment-main {
  width: 100%;
}

.comment-main > p {
  margin-top: 0.5rem;
  font-size: 13px;
}

.comment-bottom {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
}

.comment-separator {
  width: 100%;
  height: 1px;
  margin-right: 1rem;

  background: #d4d3d3;
}

.comment-reply {
  margin-right: 1rem;

  font-family: "HelveticaLTStd-Roman";
  font-size: 13px;
  color: var(--purple);
}

/* --- aside-top-stories --- */
.aside-top-stories {
  font-size: 0.9rem;
}

.aside-top-stories > h3 {
  margin: 1rem 0 0.2rem 0;
  padding: 0.3rem 0 0.3rem 0.7rem;
  width: 63%;

  background: linear-gradient(-135deg, transparent 30px, var(--purple) 0);

  font-family: "HelveticaLTStd-Bold";
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #ffffff;
}

.top-stories-header {
  display: flex;
  flex-wrap: wrap;
}

.top-stories-header > * {
  flex: 1;
  padding: 0.25rem 0;
  text-align: center;

  font-family: "HelveticaLTStd-BlkCond";
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #ffffff;
}

.top-stories-fashion {
  background: var(--pink);
}

.top-stories-cinema {
  background: var(--orange);
}

/* add arrow to bottom of cinema part */

.top-stories-television {
  min-width: 7rem;
  background: var(--blue);
}

.top-stories-item {
  position: relative;
  display: flex;
  margin: 2rem 0;
}

.top-stories-item:nth-child(n + 2):after {
  position: absolute;
  top: -1rem;
  content: "";
  width: 100%;
  height: 1px;
  background: #d4d3d3;
}

.top-stories-item > img {
  margin-right: 0.5rem;
  width: 81px;
  height: 97px;
  border: 1px solid var(--gray);
}

.top-stories-body > h4 {
  margin-bottom: 0.5rem;
  color: var(--blue);
  font-family: "HelveticaLTStd-Bold";
  font-size: 14px;
}

.top-stories-body > p {
  font-size: 12px;
}

/* --- aside-ymalike --- */

.aside-ymalike > h3 {
  margin: 1rem 0;
  padding: 0.3rem 0 0.3rem 0.7rem;
  width: 100%;

  background: var(--purple);

  font-family: "HelveticaLTStd-Bold";
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #ffffff;
}

.ymalike-item {
  display: flex;
  margin: 1rem 0;
}

.ymalike-item > img {
  margin-right: 0.5rem;
  width: 75px;
  height: 75px;
  border: 1px solid var(--gray);
}

.ymalike-item-body > p {
  font-size: 12px;
}

.ymalike-medication {
  margin-top: 0.5rem;
  font-family: "HelveticaLTStd-Roman";
  font-size: 12px;
  color: var(--blue);
}

.ymalike-medication::after {
  content: "\00bb";
}

/* --- aside-archives --- */

.aside-archives > h3 {
  margin: 1rem 0;
  padding: 0.3rem 0 0.3rem 0.7rem;
  width: 100%;

  background: var(--purple);

  font-family: "HelveticaLTStd-Bold";
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #ffffff;
}

.aside-archives-item {
  position: relative;
  display: flex;
  margin: 1.5rem 0;
  font-size: 12px;
}

.aside-archives-item:nth-child(n)::before {
  padding: 0 0.5rem;
  content: "\25BA";
  color: var(--purple);
}

.aside-archives-item:nth-child(n + 2):after {
  position: absolute;
  top: -1rem;
  content: "";
  width: 85%;
  height: 1px;
  background: #d4d3d3;
  margin-left: 1.8rem;
}

/* --- aside-tag-cloud --- */
.aside-tag-cloud > h3 {
  margin: 1rem 0;
  padding: 0.3rem 0 0.3rem 0.7rem;
  width: 100%;

  background: var(--purple);

  font-family: "HelveticaLTStd-Bold";
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #ffffff;
}

.tag-cloud-body {
  margin: 1.5rem 0 0 1rem;
  color: var(--purple);
}

.tag-cloud-body li {
  display: inline;
}

.tag-cloud-body li:nth-of-type(3n + 1) {
  font-family: "HelveticaLTStd-Bold";
  font-size: 0.7em;
}
.tag-cloud-body li:nth-of-type(4n + 3) {
  font-family: "HelveticaLTStd-Light";
  font-size: 1em;
}
.tag-cloud-body li:nth-of-type(5n - 3) {
  font-family: "HelveticaLTStd-Roman";
  font-size: 0, 8em;
}

.tag-cloud-body b {
  color: var(--orange);
  font-family: "HelveticaLTStd-Bold";
  font-size: 1.5em;
}

/* --- footer --- */

footer {
  font-family: "HelveticaLTStd-Light";
  font-size: 15px;
  color: var(--gray);
}

.footer-label a {
  text-decoration: none;
  color: var(--gray);
}

.footer-label a:hover {
  text-decoration: underline;
}
/* --- fonts --- */

@font-face {
  font-family: "HelveticaLTStd-Bold";
  src: url("./src/HelveticaLTStd-Bold.otf");
}

@font-face {
  font-family: "HelveticaLT-Condensed-Bold";
  src: url("./src/Helvetica LT Condensed Bold.ttf");
}

@font-face {
  font-family: "HelveticaLTStd-Light";
  src: url("./src/HelveticaLTStd-Light.otf");
}

@font-face {
  font-family: "HelveticaLTStd-Roman";
  src: url("./src/HelveticaLTStd-Roman.otf");
}

@font-face {
  font-family: "HelveticaLTStd-BlkCond";
  src: url("./src/HelveticaLTStd-BlkCond.otf");
}
